{% extends 'base.html'%}
{% block head%}
 <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/list.css" />
{% endblock %}
{% block title%}Списки работ и нейронных сетей{% endblock %}

{% block body%}
<div class="container">

        <h1>Список дипломных работ за 10 лет</h1>
        <a href="/diplom" class="button">Посмотреть</a>
    </div>
    <div class="container">
        <h1>Список курсовых работ за 10 лет</h1>
        <a href="/kursovaya" class="button">Посмотреть</a>
    </div>
    <div class="container">
        <h1>Список нейронных сетей для программирования</h1>
        <a href="/AI" class="button">Посмотреть</a>
    </div>
{%endblock%}
